<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django FullStack</title>
    <link rel="stylesheet" href="{% static 'message_board/rick_roll.css' %}">
</head>
<body>
  <header id="iost" class="header-banner">
    <div id="i2mi" class="container-width">
      <div id="i0cp" class="logo-container">
      </div>
      <div class="clearfix">
      </div>
      <div id="ivwo" class="logo">Telecomunication Software
        <br/>
      </div>
      <div id="it0cy" class="lead-title">Practical Work
        <br/>
      </div>
      <div id="iawnn" class="sub-lead-title">This is a practical work for the Riga Technical University Course RAE411 Telecommunication Software.
        <br/>Created by: Benedikt Görgei
        <br/>Supervisor: Tianhua Chen 
        <br/>Date: 08.12.2022
        <br/>
      </div>
    </div>
  </header>
  <section id="i9cyk" class="flex-sect">
    <div id="i2niq" class="container-width">
      <div id="i3wlz" class="flex-title">HttpsResponse
        <br/>
      </div>
        <iframe allowfullscreen="allowfullscreen" id="i5nd3" src="https://player.vimeo.com/video/375468729?&autoplay=1"></iframe></iframe>
      <div class="gjs-row" id="i83fk">
        <div class="gjs-cell">
          <button type="button" class="lead-btn" id="i3dmw" onclick="location.href='{% url 'index' %}'">Return</button>
        </div>
        <div class="gjs-cell">
        </div>
      </div>
      <div id="i6aykf" class="cards">
      </div>
      <section class="bdg-sect" id="ibmuyj">
      </section>
      <form method="get" id="iytxcp">
      </form>
    </div>
  </section>
  <footer id="ibic9i" class="footer-under">
    <div class="container-width">
      <div class="footer-container">
        <div class="form-sub">
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container-width">
        <div id="i4ppgs" class="made-with">Made by Benedikt Görgei
          <br/>
        </div>
        <div class="foot-social-btns">facebook twitter linkedin mail
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
  </footer>
</body>
</html>